a {
    text-decoration: none;
}

p {
    font-size: 16pt;
}

h1 {
    font-size: 36pt;
    font-weight: 400;
}

h2 {
    font-size: 24pt;
    font-weight: 400;
}

h1.decor-text {
    font-size: 96pt;
    font-weight: 400;
}

#main {
    margin: 0px 200px;
}