a {
    text-decoration: none;
}

p {
    font-size: 16pt;
}

h1 {
    font-size: 36pt;
    font-weight: 400;
}

h2 {
    font-size: 24pt;
    font-weight: 600;
}

h1.decor-text {
    font-size: 96pt;
    font-weight: 400;
}

#main {
    margin: 0px 200px;
}

@media only screen and (max-width: 750px) {
    #main {
        margin: 0px 10px;
    }
}

body {
    background: linear-gradient(-45deg, #ffddb6, #ff9a72, #ffd8bb, #ffe0b7);
    /* background: linear-gradient(-45deg, #824dff, #5f9fff, #4274d3, #e730ff); */
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}